<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739564469816-4q0ao3os05ai7sjsuugmf3llpt3cra1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739564469816-4q0ao3os05ai7sjsuugmf3llpt3cra1i</string>
	<key>API_KEY</key>
	<string>AIzaSyD-lADK14ZcwGPu607zg--KJj45IToar4w</string>
	<key>GCM_SENDER_ID</key>
	<string>739564469816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-7548e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-7548e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739564469816:ios:388d5ab2c6d3c3723e70cd</string>
</dict>
</plist>